<nav class="navbar navbar-green" style="background: #7ee27d;
    border-bottom: 2px solid #101010;">
    <div class="container">
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav labelMenu">
                <li><a ng-click="menu.goTo('app.clientes')" style="cursor:pointer"><span class="icon sb-documento"></span>Clientes</a></li>
                <li><a ng-click="menu.goTo('app.productos')" style="cursor:pointer"><span class="icon sb-planes_agenda"></span>Productos</a></li>
                <li><a ng-click="menu.goTo('app.facturas')" style="cursor:pointer"><span class="icon sb-documentos"></span>Ventas</a></li>
                <li><a ng-click="menu.goTo('app.compras')" style="cursor:pointer"><span class="icon sb-documentos"></span>Compras</a></li>
                <li><a ng-click="menu.goTo('app.reportes')" style="cursor:pointer"><span class="icon sb-documentos"></span>Reportes</a></li>
                <li><a ng-click="menu.goTo('login')" style="cursor:pointer"><span class="icon sb-salir"></span>Cerrar sesión</a></li>
               <li><a ng-click="menu.goTo('app.inicio')" style="cursor:pointer"><span class="icon sb-avatar_masculino"></span>Bienvenid@: {{usuarioSesion.nombreCompleto}}-{{usuarioSesion.rol}}</a></li>
            </ul>

        </div>
    </div>
     
</nav>

<div ui-view></div>