<div class="modal-content">
    <div class="modal-header bg-verde text-center">
        <h4 class="modal-title">Abono a factura</h4>
    </div>
    
    	<div class="form-group col-xs-12 col-md-12">
			<div class="form-group col-xs-12 col-md-6">
						<label>*Valor abonar</label> <input type="text" class="form-control"
							id="" placeholder="abono"
							ng-model="abonoFactura" />
					</div>
					
					<div class="form-group col-xs-12 col-md-6">
						<label>*Número recibo</label> <input type="text" class="form-control"
							id="" placeholder="abono"
							ng-model="numeroRecibo" />
					</div>
					
					</div>
      
    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-md btn-verde-modal" type="button" ng-click="acept()"><strong>Aceptar</strong></button>
            <button class="btn btn-verde-modal" type="button" ng-click="cancel()">Cancelar</button>
        </div>
    </div>
</div>
