<div class="modal-content">
    <div class="modal-header bg-verde text-center">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid text-center">
            <strong>{{message}}</strong>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-md btn-verde-modal" type="button" ng-click="acept()"><strong>Aceptar</strong></button>
        </div>
    </div>
</div>
