<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	      version="2.5">
	      
	<display-name>urbaNatt</display-name>

	<!-- Rest -->
	<context-param>
	    <param-name>resteasy.servlet.mapping.prefix</param-name>
	    <param-value>/rest</param-value>
	</context-param>
	
	<servlet>
	    <servlet-name>resteasy-servlet</servlet-name>
	    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	    <init-param>
	        <param-name>javax.ws.rs.Application</param-name>
	        <param-value>co.ibm.urbaNatt.services.rest.RESTApplication</param-value>
	    </init-param>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>resteasy-servlet</servlet-name>
	    <url-pattern>/rest/*
	    </url-pattern>
	</servlet-mapping>
	
	<!-- Página de inicio -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>