<div class="container panel-body" ng-controller="clientesCtrl">

	<div id="breadcrumb">
		<span id="migaPan" class="labelMigaPan"><a href=""><img
				height="0" width="0" /></a><span><a href="">UrbaNatt</a></span><span>
				&gt; </span><span><a href="">Clientes</a></span><span> &gt; </span><span>Administración
				clientes</span><a id="ctl00_DefaultBreadCrumb_SkipLink"></a></span>

	</div>

	<h1 class="main-title">Administración clientes de la apicación</h1>
	<div ng-show="mostrarTabla">
		<div class="form-group col-xs-12 col-md-12">
		
		
		
			
			<div class="form-group col-xs-12 col-md-6">
				<label>Tipo identificación</label> <select class="form-control"
					ng-model="tipoId">
					<option value="">Seleccione</option>
					<option ng-repeat="e in tiposId" value="{{e}}">{{e}}</option>
				</select>
			</div>
			
			<div class="form-group col-xs-12 col-md-6">
				<label>Número identificación</label> <input type="text" class="form-control" id=""
					placeholder="Número identificación" ng-model="numId" />

			</div>
		
		<div class="form-group col-xs-12 col-md-6">
				<label>Nombre cliente</label> <input type="text" class="form-control" id=""
					placeholder="Nombre cliente" ng-model="nombreCliente" />

			</div>
			<div class="col-xs-12">
				<button ng-click="buscarClientes()" class="boton floatRight">Buscar</button>
			</div>
		</div>
	</div>
	<div class="form-group">
			 <div class="accordion-inner" ng-show="mostrarTabla" style="overflow-y: auto; width:1000px;height: 600px;">
			 <fieldset class="scheduler-border">
				<legend class="scheduler-border">Clientes</legend>
                    <table  ng-init="configPages()" class="table table-striped table-bordered custom">
                        <thead>
                           	<th>#</th>
					<th>Tipo id</th>
					<th>Número id</th>
					<th>Nombre completo</th>
					<th>Telefono</th>
					<th>Dirección</th>
					<th>Departamento</th>
					<th>Ciudad</th>
					<td title="agregar cliente"><a
						ng-click="abrirAgregarUsuario()"><img
							src="assets/img/icoAgregar.gif"></a></td>
                        </thead>
                        <tbody>
                            <tr class="accordion-group" ng-repeat="u in clientesTabla  | startFromGrid: currentPage * pageSize | limitTo: pageSize track by $index">
                        <td>{{$index+1}}</td>
						<td>{{u.tipoId}}</td>
						<td>{{u.numId}}</td>
						<td>{{u.nombreCliente}}</td>
						<td>{{u.telCelular == null ? u.telFijo : u.telCelular}}</td>
						<td>{{u.direccion}}</td>
						<td>{{u.departamento}}</td>
						<td>{{u.ciudad}}</td>
						<th width="12%">
						<a ng-click="agregarSucursal(u)"><img
								title="Agregar sucursal" src="assets/img/EditTableHS.png"></a>
						<a ng-click="editarUsuario(u)"><img
								title="Editar usuario" src="assets/img/icoEditar.png"></a> <a
							ng-click="eliminarUsuario(u)"><img title="Eliminar usuario"
								src="assets/img/icoEliminar.png"></a> </th>
                            </tr>
                        </tbody>
                    </table>
                    <center>
				<label class="labelFormulario" ng-show="usuariosTabla.length == 0">No
					Existen registros</label>
			</center>
			<center>
					<div class='btn-group'>
						<button type='button' class='btn btn-default'
							ng-disabled='currentPage == 0'
							ng-click='currentPage = currentPage - 1'>&laquo;</button>
						<button type='button' class='btn btn-default'
							ng-disabled='currentPage == page.no - 1'
							ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
						<button type='button' class='btn btn-default'
							ng-disabled='currentPage >= clientesTabla.length/pageSize - 1'
							ng-click='currentPage = currentPage + 1'>&raquo;</button>
					</div>
				</center>
				</fieldset>
                </div>
			
	</div>
		<div class=" col-xs-12 col-md-12" ng-show="!mostrarTabla">
				<div class="form-group col-xs-12 col-md-6">
				<label>*Tipo identificación</label> <select class="form-control"
					ng-model="cliente.tipoId">
					<option value="">Seleccione</option>
					<option ng-repeat="e in tiposId" value="{{e}}">{{e}}</option>
				</select>
			</div>
			
			<div class="form-group col-xs-12 col-md-6">
				<label>*Número identificación</label> <input type="text" class="form-control" id=""
					placeholder="Número identificación" ng-model="cliente.numId" />

			</div>
			
			

				<div class="form-group col-xs-12 col-md-12">
					<div class="form-group col-xs-12 col-md-6">
						<label>*Nombre completo</label> <input type="text"
							class="form-control" id=""
							placeholder="Nombre completo del cliente"
							ng-model="cliente.nombreCliente" />

					</div>
					<div class="form-group col-xs-12 col-md-6">
						<label>*Correo</label> <input type="text"
							class="form-control" id=""
							placeholder="Correo"
							ng-model="cliente.correo" />
					</div>

				</div>

				<div class="form-group col-xs-12 col-md-12">
					<div class="form-group col-xs-12 col-md-6">
						<label>Télefono fijo</label> <input type="text"
							class="form-control" id=""
							placeholder="# fijo"
							ng-model="cliente.telFijo" />

					</div>
					<div class="form-group col-xs-12 col-md-6">
						<label>*Télefono célular</label> <input type="text"
							class="form-control" id=""
							placeholder="# celular"
							ng-model="cliente.telCelular" />
					</div>

				</div>
				
				<div class="form-group col-xs-12 col-md-12">
					<div class="form-group col-xs-12 col-md-6">
						<label>Departamento</label> <select class="form-control" required="required"
							ng-model="cliente.idDepartamento"
							 ng-change="consultarCiudadPorDepto()">
							<option ng-repeat="e in departamentos" ng-selected="cliente.idDepartamento==e.id" value="{{e.id}} ">{{e.nombre}}</option>
						</select>
					</div>
					<div class="form-group col-xs-12 col-md-6">
						<label>Ciudad</label> <select class="form-control" required="required"
							ng-model="cliente.idCiudad" ng-init="cliente.idCiudad">
							<option ng-repeat="e in ciudades" ng-init="cliente.idCiudad"  ng-selected="cliente.idCiudad==e.id" value="{{e.id}} ">{{e.nombre}}</option>
						</select>
					</div>

				</div>
				

				<div class="form-group col-xs-12 col-md-12">
					<div class="form-group col-xs-12 col-md-6">
						<label>*Dirección</label> <input type="text"
							class="form-control" id=""
							placeholder="Dirección"
							ng-model="cliente.direccion" />

					</div>
					<div class="form-group col-xs-12 col-md-6">
						<label>Estado</label> <select class="form-control" required="required"
							ng-model="cliente.estado">
							<option ng-repeat="e in estados" value="{{e}}">{{e}}</option>
						</select>
					</div>

				</div>

			
				<div class="col-xs-12 col-sm-11">
					<button ng-click="cancelar()" class="boton floatRight">Cancelar</button>
				</div>
				<div class="col-xs-12 col-sm-1"  ng-show="!mostrarEditar">
					<button ng-click="agregarUsuario()" 
						class="boton floatRight">Guardar</button>
				</div>
				<div class="col-xs-12 col-sm-1" ng-show="mostrarEditar">
					<button ng-click="agregarUsuario()" 
						class="boton floatRight">Editar</button>
				</div>




	</div>
</div>
